<!DOCTYPE html>
<html>
<head>
    <title>home</title>
</head>
<body>
    <h1>pleas login</h1>
    <h3>Log In to your account!</h3>
    <form method="post" action="/login" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password" Required>
        </div>

        <button type="submit" class="btn btn-primary">Log In</button>
    </form>

</body>
</html>