<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update ads</title>
</head>
<body>
    
        <div class="name">
            <h1>{{user.username}} pleas enter annuncment</h1>
        </div>
        <h3>update ad</h3>

        <form method="POST" action='/update_ad/{{ ad.id }}'>
            {% csrf_token %}
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <button type="submit">Update Advertisement</button>
                <br>
                <a href = '/delete_ad/{{ ad.id }}'>delete</a>
            </div>
        </form>
    
</body>
</html>